<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="all_listing">
            <% for(let l of result) {%>
                <a href="/listings/<%= l.id %>">
                    <div class="list_container">
                        <div class="list_container_image">
                            <img src="<%= l.image %>" alt="">
                        </div>
                        <div class="list_container_description">
                            <h4>
                                <%= l.title %>
                            </h4>
                            <p>&#x20B9;<%= l.price ? l.price.toLocaleString("en-IN") : "N/A" %>/day</p>
                            <p><%= l.location %></p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>