<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="show_individual_card">
            <img src="<%= l.image %>" class="card_img_top" alt="...">
            <div class="card_body">
                <h3 class="card_title">
                    <%= l.title %>
                </h3>
                <p class="card_text">
                    <%= l.description %>
                </p>
                <p>&#x20B9;<%= l.price ? l.price.toLocaleString("en-IN") : "N/A" %>/day</p> 
                <p class="card_text">
                    <%= l.location %>
                </p>
                <p class="card_text">
                    <%= l.country %>
                </p>
                <div class="btns">
                    <a href="/listings/<%= l._id %>/edit%>" class="btn btn-dark">Update</a>
                    <form method="post" action="/listings/<%= l._id %>?_method=DELETE">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </body>